<footer>
    <div style="width: 300px; margin: auto; padding-bottom: 60px">
        <a href="https://twitter.com/statebox" target="_blank"><i class="nav-soc nav-item fa fa-twitter"></i></a>
        <a href="https://github.com/statebox" target="_blank"><i class="nav-soc nav-item fa fa-github"></i></a>
        <a href="https://join.slack.com/t/statebox/shared_invite/MjI4NzAzMTUwNzA0LTE1MDMzMTUxMzYtMGYyYmI5ZWNmMg" target="_blank"><i class="nav-soc nav-item fa fa-slack"></i></a>
        <a href="https://gitter.im/statebox" target="_blank"><img class="gitter-img nav-item" src="img/gitter_icon.svg"></a>
        <a href="https://riot.im/app/#/room/#statebox:matrix.org" target="_blank"><img class="matrix-img nav-item" src="img/matrixim.gif"></a>
    </div>
</footer>