<!doctype html>
<html>
<!-- head -->
{% include head.html %}

<body id="top">
  <!-- navbar -->
  {% include nav.html %}

  <div class="main-container">
    <div class="whoei">
      <div id="inner" class="brood">
        <br>
        <a href="http://statebox.org/zlarin-2017-info.html">[back]</a>
        <br>
        <h2 id="team">Nov 1st Talks</h2>
        <div style="overflow-x:auto;">
          <!-- table 1 loop -->
          <table style="overflow-x:auto;">
            <thead>
              <tr>
                <th>Topic</th>
                <th>Speaker</th>
                <th>Summary</th>
              </tr>
            </thead>
            <tbody>
              {% for talk in page.talks.nov1st-math-talks %}
                <tr>
                  <th>
                    {% if talk.topic %}
                      {{talk.topic}}
                    {% endif %}
                  </th>
                  <th>
                    {% if talk.speaker %}
                      {{talk.speaker}}
                    {% endif %}
                  </th>
                  <th>
                    {% if talk.summary %}
                      {{talk.summary}}
                    {% endif %}
                  </th>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div> 
        <br>
        <h2 id="team">Nov 2nd Talks</h2>
        <!-- table 1 loop -->
        <div style="overflow-x:auto;">
          <table>
            <thead>
              <tr>
                <th>Topic</th>
                <th>Speaker</th>
                <th>Summary</th>
              </tr>
            </thead>
            <tbody>
          {% for talk in page.talks.nov2nd-prog-talks %}
                <tr>
                  <th>
                    {% if talk.topic %}
                      {{talk.topic}}
                    {% endif %}
                  </th>
                  <th>
                    {% if talk.speaker %}
                      {{talk.speaker}}
                    {% endif %}
                  </th>
                  <th>
                    {% if talk.summary %}
                      {{talk.summary}}
                    {% endif %}
                  </th>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <br> 
        <!-- main content -->
        {{ content }}
      </div>
    </div>
  </div>

  <!-- footer -->
  {% include footer.html %}
  </div>

  <!-- scripts -->
  {% include scripts.html %}
<style>
  th{
    padding: 10px 30px 10px 30px;
    border-bottom: 1px solid gainsboro;
    text-align: left;
  }
  @media screen and (max-width: 600px){
    th{
      padding: 5px 5px 5px 5px;
      border-bottom: 1px solid gainsboro;
      text-align: left;
    }
  }
</style>
</body>


</html>